<a href="https://colab.research.google.com/github/NguyenThiTrucMai/MayHoc/blob/main/Lab_6_20130321_NguyenThiTrucMai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Naïve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [16]:
# code


from sklearn import datasets

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics._plot.confusion_matrix import ConfusionMatrixDisplay
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn import svm
from prettytable import PrettyTable

In [17]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import RandomForestClassifier

from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA


from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [18]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MayHoc/Lab6'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/MayHoc/Lab6

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [ ]:


mnist = datasets.load_digits()
x= mnist['data']
y= mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
# linear
# SVM
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_linear = clf.predict(X_test)

accuracy_linear = accuracy_score(y_test, y_pred_linear)
precision_linear = precision_score(y_test, y_pred_linear, average='macro')
recall_linear = recall_score(y_test, y_pred_linear, average='macro')
f1_linear = f1_score(y_test, y_pred_linear, average='macro')

# Radial Basis
clf = svm.SVC(kernel='rbf') 
clf.fit(X_train, y_train)
y_pred_rad = clf.predict(X_test)

accuracy_rad = accuracy_score(y_test, y_pred_rad)
precision_rad = precision_score(y_test, y_pred_rad, average='macro')
recall_rad = recall_score(y_test, y_pred_rad, average='macro')
f1_rad = f1_score(y_test, y_pred_rad, average='macro')

In [ ]:
#Create a Random Forest Classifier
clf=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clf.fit(X_train,y_train)
y_pred_random = clf.predict(X_test)

accuracy_random = accuracy_score(y_test, y_pred_random)
precision_random = precision_score(y_test, y_pred_random, average='macro')
recall_random = recall_score(y_test, y_pred_random, average='macro')
f1_random = f1_score(y_test, y_pred_random, average='macro')

# Naive Bayes
# GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
y_predNB = model.predict(X_test)

accuracy_NB = accuracy_score(y_test, y_predNB)
precision_NB = precision_score(y_test, y_predNB, average='macro')
recall_NB = recall_score(y_test, y_predNB, average='macro')
f1_NB = f1_score(y_test, y_predNB, average='macro')


# SVM
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_svm = clf.predict(X_test)

accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm, average='macro')
recall_svm = recall_score(y_test, y_pred_svm, average='macro')
f1_svm = f1_score(y_test, y_pred_svm, average='macro')

In [ ]:


mnist = datasets.load_digits()
x= mnist['data']
y= mnist['target']
x.shape
X_new = SelectKBest(chi2, k=2).fit_transform(x,y)
X_new.shape

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
# table

t= PrettyTable(['','acc','pre','recall','f1'])

t.add_row(['SVM', round(accuracy_svm,2),round(precision_svm,2),round(recall_svm,2),round(f1_svm,2)])
t.add_row(['NB', round(accuracy_NB,2),round(precision_NB,2),round(recall_NB,2),round(f1_NB,2)])
t.add_row(['Random', round(accuracy_random,2),round(precision_random,2),round(recall_random,2),round(f1_random,2)])
t.add_row(['Radial Basis', round(accuracy_rad,2),round(precision_rad,2),round(recall_rad,2),round(f1_rad,2)])

print(t)
t1= PrettyTable(['','acc','pre','recall','f1'])

t1.add_row(['SVM', round(accuracy_svm,2),round(precision_svm,2),round(recall_svm,2),round(f1_svm,2)])
t1.add_row(['NB', round(accuracy_NB,2),round(precision_NB,2),round(recall_NB,2),round(f1_NB,2)])
t1.add_row(['Random', round(accuracy_random,2),round(precision_random,2),round(recall_random,2),round(f1_random,2)])
t1.add_row(['Radial Basis', round(accuracy_rad,2),round(precision_rad,2),round(recall_rad,2),round(f1_rad,2)])



print(t1)

+--------------+------+------+--------+------+
|              | acc  | pre  | recall |  f1  |
+--------------+------+------+--------+------+
|     SVM      | 0.97 | 0.97 |  0.98  | 0.97 |
|      NB      | 0.82 | 0.86 |  0.83  | 0.82 |
|    Random    | 0.98 | 0.98 |  0.98  | 0.98 |
| Radial Basis | 0.99 | 0.99 |  0.99  | 0.99 |
+--------------+------+------+--------+------+
+--------------+------+------+--------+------+
|              | acc  | pre  | recall |  f1  |
+--------------+------+------+--------+------+
|     SVM      | 0.97 | 0.97 |  0.98  | 0.97 |
|      NB      | 0.82 | 0.86 |  0.83  | 0.82 |
|    Random    | 0.98 | 0.98 |  0.98  | 0.98 |
| Radial Basis | 0.99 | 0.99 |  0.99  | 0.99 |
+--------------+------+------+--------+------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [19]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [28]:
dataset = pd.read_csv("bank.csv")
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [24]:
#code
dataset[['age', 'balance', 'day', 'campaign', 'pdays', 'previous']] = StandardScaler().fit_transform(dataset[['age', 'balance', 'day', 'campaign', 'pdays', 'previous']])

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [25]:
#code
encode = OneHotEncoder()
encode.fit(dataset[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']])
encoded = encode.transform(dataset[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']]).toarray()
new_df = pd.DataFrame(encoded, columns=encode.get_feature_names_out(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']))
dataset = pd.concat([dataset, new_df], axis=1)
dataset = dataset.drop(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'], axis=1)

print(dataset.columns)

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'deposit', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_apr', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [29]:
# Select categorical columns to be encoded
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

# Create OneHotEncoder instance
encoder = OneHotEncoder(handle_unknown="ignore")

# Fit the encoder on the categorical columns
encoder.fit(df[cat_cols])

# Transform the categorical columns to numerical using the fitted encoder
encoded = encoder.transform(df[cat_cols]).toarray()

# Create a dataframe from the encoded data and get the new column names
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(cat_cols))

# Concatenate the encoded dataframe with the original dataframe
df_encoded = pd.concat([df, encoded_df], axis=1)

# Drop the original categorical columns
df_encoded.drop(cat_cols, axis=1, inplace=True)

# Display the encoded dataframe
print(df_encoded.head())

   age  balance  day  duration  campaign  pdays  previous deposit  job_admin.  \
0   59     2343    5      1042         1     -1         0     yes         1.0
1   56       45    5      1467         1     -1         0     yes         1.0
2   41     1270    5      1389         1     -1         0     yes         0.0
3   55     2476    5       579         1     -1         0     yes         0.0
4   54      184    5       673         2     -1         0     yes         1.0

   job_blue-collar  ...  month_jun  month_mar  month_may  month_nov  \
0              0.0  ...        0.0        0.0        1.0        0.0
1              0.0  ...        0.0        0.0        1.0        0.0
2              0.0  ...        0.0        0.0        1.0        0.0
3              0.0  ...        0.0        0.0        1.0        0.0
4              0.0  ...        0.0        0.0        1.0        0.0

   month_oct  month_sep  poutcome_failure  poutcome_other  poutcome_success  \
0        0.0        0.0               0.0             0.0               0.0
1        0.0        0.0               0.0             0.0               0.0
2        0.0        0.0               0.0             0.0               0.0
3        0.0        0.0               0.0             0.0               0.0
4        0.0        0.0               0.0             0.0               0.0

   poutcome_unknown
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0

[5 rows x 52 columns]

#3.3. Apply **Decision tree, Random forest, kNN, NaïveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [26]:
#code
x_train, x_test, y_train, y_test = train_test_split(dataset.drop('deposit', axis=1), dataset['deposit'], test_size=0.3)

rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)
rf_pred = rf.predict(x_test)

sVM = svm.SVC(kernel ='linear')
sVM.fit(x_train, y_train)
sVM_pred = sVM.predict(x_test)

gauss = GaussianNB()
gauss.fit(x_train, y_train)
gauss_pred = gauss.predict(x_test)
t = PrettyTable(["Algorithm","Accuracy","Precision", "Recall", "F1"])
t.add_row(["SVM", round(accuracy_score(y_test, sVM_pred), 2), 
           round(precision_score(y_test, sVM_pred, average='micro'), 2), 
           round(recall_score(y_test, sVM_pred, average='macro'), 2),
           round(f1_score(y_test, sVM_pred,average='macro'), 2)])
t.add_row(["Random forest", round(accuracy_score(y_test, rf_pred), 2), 
           round(precision_score(y_test, rf_pred, average='micro'), 2), 
           round(recall_score(y_test, rf_pred, average='macro'), 2),
           round(f1_score(y_test, rf_pred,average='macro'), 2)])
t.add_row(["Naive Bayes", round(accuracy_score(y_test, gauss_pred), 2), 
           round(precision_score(y_test, gauss_pred, average='micro'), 2), 
           round(recall_score(y_test, gauss_pred, average='macro'), 2),
           round(f1_score(y_test, gauss_pred,average='macro'), 2)])
print(t)

+---------------+----------+-----------+--------+------+
|   Algorithm   | Accuracy | Precision | Recall |  F1  |
+---------------+----------+-----------+--------+------+
|      SVM      |   0.83   |    0.83   |  0.83  | 0.83 |
| Random forest |   0.86   |    0.86   |  0.86  | 0.86 |
|  Naive Bayes  |   0.72   |    0.72   |  0.71  | 0.71 |
+---------------+----------+-----------+--------+------+

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [27]:
#code
from sklearn.feature_selection  import SelectFromModel

importances = rf.feature_importances_
importances_sort = np.argsort(importances)[::-1]

select = SelectFromModel(rf, threshold=0.011)
x_train = select.fit_transform(x_train, y_train)
x_test = select.transform(x_test)

rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)
rf_pred = rf.predict(x_test)

sVM = svm.SVC(kernel ='linear')
sVM.fit(x_train, y_train)
sVM_pred = sVM.predict(x_test)

gauss = GaussianNB()
gauss.fit(x_train, y_train)
gauss_pred = gauss.predict(x_test)
t = PrettyTable(["Algorithm","Accuracy","Precision", "Recall", "F1"])
t.add_row(["SVM", round(accuracy_score(y_test, sVM_pred), 2), 
           round(precision_score(y_test, sVM_pred, average='micro'), 2), 
           round(recall_score(y_test, sVM_pred, average='macro'), 2),
           round(f1_score(y_test, sVM_pred,average='macro'), 2)])
t.add_row(["Random forest", round(accuracy_score(y_test, rf_pred), 2), 
           round(precision_score(y_test, rf_pred, average='micro'), 2), 
           round(recall_score(y_test, rf_pred, average='macro'), 2),
           round(f1_score(y_test, rf_pred,average='macro'), 2)])
t.add_row(["Naive Bayes", round(accuracy_score(y_test, gauss_pred), 2), 
           round(precision_score(y_test, gauss_pred, average='micro'), 2), 
           round(recall_score(y_test, gauss_pred, average='macro'), 2),
           round(f1_score(y_test, gauss_pred,average='macro'), 2)])
print(t)

+---------------+----------+-----------+--------+------+
|   Algorithm   | Accuracy | Precision | Recall |  F1  |
+---------------+----------+-----------+--------+------+
|      SVM      |   0.8    |    0.8    |  0.8   | 0.8  |
| Random forest |   0.84   |    0.84   |  0.84  | 0.84 |
|  Naive Bayes  |   0.72   |    0.72   |  0.71  | 0.71 |
+---------------+----------+-----------+--------+------+

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [ ]:
# code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MayHoc/Lab5'

df = pd.read_csv("creditcard.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/MayHoc/Lab5

In [ ]:
# Separate the features and target variable
X = df.drop('Class', axis=1)
y = df['Class']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Scale the numerical features
scaler = StandardScaler()
num_cols = ['Time', 'Amount']
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [ ]:
# Train and evaluate the performance of different classification algorithms
classifiers = {
    'Decision Tree': DecisionTreeClassifier(),
    'kNN': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression(),
    'SVM': SVC(),
    'Random Forest': RandomForestClassifier(),
    'Naive Bayes': GaussianNB()
}

for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    print(f'{name}: Accuracy = {acc}, Precision = {precision}, Recall = {recall}, F1-score = {f1}')

Decision Tree: Accuracy = 0.9992275552122467, Precision = 0.7464788732394366, Recall = 0.7794117647058824, F1-score = 0.762589928057554
kNN: Accuracy = 0.9994733330992591, Precision = 0.8823529411764706, Recall = 0.7720588235294118, F1-score = 0.823529411764706
Logistic Regression: Accuracy = 0.9992743700478681, Precision = 0.8775510204081632, Recall = 0.6323529411764706, F1-score = 0.7350427350427351
SVM: Accuracy = 0.9994148145547324, Precision = 0.93, Recall = 0.6838235294117647, F1-score = 0.788135593220339
Random Forest: Accuracy = 0.9995903701883126, Precision = 0.9243697478991597, Recall = 0.8088235294117647, F1-score = 0.8627450980392157
Naive Bayes: Accuracy = 0.9780438420935594, Precision = 0.0583756345177665, Recall = 0.8455882352941176, F1-score = 0.10921177587844254

#Finally,
Save a copy in your Github. Remember renaming the notebook.